{% extends "blog/base.html" %}
{% load blog_tags %}
{% load icons %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h2>{{ post.title }}</h2>
  <div class="post-list-small">
    <i>
      <!-- tags -->
      {% icon 'tag' %}
      {% for tag in post.tags.all %}
        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
      <!-- published date -->
      &#8201;&#8201; {% icon 'calendar' %} {{ post.publish|date:'H:i:s F d, Y' }}
    </i>
  </div>

  {{ post.body|markdown }}
  <!-- <p><a href="{% url 'blog:post_share' post.id %}">Share this post</a></p> -->

  {% with comments.count as total_comments %}
    <h3>{{ total_comments }} comment{{ total_comments|pluralize }}</h3>
  {% endwith %}

  {% if new_comment %}
    <h3>Your comment has been added.</h3>
  {% else %}
		<form id="comment-form" class="cf" method="post">
      {% csrf_token %}
      {{ comment_form.name.errors }}
      {{ comment_form.email.errors }}
      {{ comment_form.body.errors }}
		  <div class="half left cf">
        {{comment_form.name}}
        {{comment_form.email}}
        <input type="submit" id="input-submit" value="Send Message" tabindex="4">
		  </div>
		  <div class="half right cf">
        {{comment_form.body}}
		  </div>
		</form>
  {% endif %}

  {% for comment in comments %}
    <b>{{ comment.name }}</b> on {{ comment.created }}
    <div class="dialogbox">
      <div class="body">
        <span class="tip tip-up"></span>
        <div class="message">
          <span>{{ comment.body }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
