* {
	box-sizing: border-box;
  }
	
  html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
  }
  
  h1, h2 {
	line-height: 1.2;
  }
  
  a {
	text-decoration: none;
  }
  
  p {
	font-size: 18px;
	line-height: 1.5;
  }
  
  .col-two a {
	color: #BF9000;
  }
  
  .container {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
  }
  
  .column {
	display: table-cell;
	padding: 10px 20px;
  }
  
  .column img {
	display: block;
	margin: 20px auto;
	max-width: 100%;
	border: 1px solid black;
  }
  
  .post-list-img img {
	max-width: 80%;
  }
  
  .col-one {
	width: 18%;
	background: #FFD92B;
	color: #000000;
	position: fixed;
	min-height: 100%;
  }
  
  .col-two {
	width: 56%;
	background: #ffffff;
	padding: 8px 40px 20px;
  }
  
  #content .code {
	margin-left: 0;
	background-color: #000;
	color: #ccc;
	overflow: scroll;
  }
  
  #content figure .code {
	border-left: 2px solid #FFD92B;
  }
  
  #content .post-list-small {
	margin-top: -10px;
  }
  
  #content .post-list-sort-description {
	margin-top: -6px;
  }
  
  .col-three {
	width: 26%;
	background: #ecf0f1;
	min-height: 100%;
  }
  
  .header {
	text-align: center;
	color: #ffffff;
  }
  .header h1 a {
	color: #000000;
  }
  
  .nav-bar {
	font-size: 100%;
  }
  
  .nav-bar ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-bar li {
	padding: 4px 0px;
  }
  
  .nav-bar li a {
	color: #000000;
	padding: 8px 0px 6px;
  }
  
  .nav-bar li a.active {
	color: #6C6328;
	margin: 0;
	padding: 0;
	background: #FFD92B;
  }
  
  .nav-bar li a:hover:not(.active) {
	color: #21216e;
  }
  
  .main-content {
	padding-top: 10px;
  }
  
  .footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 6px;
	text-align: center;
	background-color: #E5BA30;
  }
  
  /* search form */
  /* .search-form {
	padding: 0;
	margin: 0;
  } */
  
  .search-form input {
	outline: none;
  }
  
  .search-form input[type=search] {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	font-family: inherit;
	font-size: 14px;
	border: none;
	padding: 12px 10px 12px 8px;
	margin: 12px 4px;
	width: 90%;
  }
	
  /* COMMENT BOX */
  .tip {
	width: 0px;
	height: 0px;
	position: absolute;
	background: transparent;
	border: 10px solid #ccc;
  }
  
  .tip-up {
	top: -25px; /* Same as body margin top + border */
	left: 10px;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
  }
  
  .tip-down {
	bottom: -25px;
	left: 10px;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;  
  }
  
  .tip-left {
	top: 10px;
	left: -25px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;  
  }
  
  .tip-right {
	top: 10px;
	right: -25px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;  
  }
  
  .dialogbox .body {
	position: relative;
	height: auto;
	margin: 20px 10px;
	padding: 5px;
	background-color: #DADADA;
	border: 5px solid #ccc;
  }
  
  .body .message {
	min-height: 30px;
	font-size: 14px;
	line-height: 1.5;
	color: #000000;
  }
  
  /* TEMP  */
  #comment-form {
	/* max-width: 900px; */
	text-align: center;
	margin: 4px auto 4px;
  }
	
  #comment-form input, #comment-form textarea {
	border: 1px solid; 
	outline:0;
	padding: 1em;
	display: block;
	width: 100%;
	margin-top: 4px;
	font-family: 'Roboto Slab', serif;
	box-shadow: 0 1px 1px rgba(black, 0.1);
	resize: none;
  }
  
  #comment-form input:focus, #comment-form textarea:focus {
	box-shadow: 0 0px 2px rgba(#FFD92B, 1)!important;
  }
	
  #comment-form #input-submit {
	padding: 14px 10px;
	text-transform: uppercase;
	font-size: 16px;
	color: #000000; 
	background: #FFD92B;
	cursor: pointer;
	border: none;
  }
  
  #comment-form #input-submit:hover, #comment-form #input-submit:focus {
	background-color: #FFD92B;
  }
	
  #comment-form textarea {
	height: 168px;
  }
  
  .half {
	float: left;
	margin-bottom: 1em;
  }
  
  .left {
	width: 30%;
	margin-right: 2%; 
  }
  
  .right {
	width: 60%;
  }
  
  .topnav {
	overflow: hidden;
	background-color: #333;
	position: relative;
	display: none;
  }
  
  .topnav #myLinks {
	display: none;
  }
  
  .topnav a {
	color: #BF9000;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }
  
  .topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .active {
	background-color: #FFD92B;
	color: #000000;
  }
  
  @media (max-width: 575.98px) {
	.col-one, .col-three {
	  display: none;
	}
  
	.half {
	  width: 100%;
	  float: none;
	  margin-bottom: 0; 
	}
  }
  
  @media (max-width: 767.98px) {
	.col-two {
	  width: 70%;
	}
	.col-two p {
	  font-size: 80%;
	}
	.col-three, .col-one {
	  display: none;
	}
	.topnav {
	  display: block;
	}
  }
  
  @media (max-width: 991.98px) {
	.col-two {
	  width: 70%;
	}
	.col-two p {
	  font-size: 80%;
	}
	.col-three, .col-one {
	  display: none;
	}
	.topnav {
	  display: block;
	}
  }
  
  @media (max-width: 1199.98px) {
	.col-one {
	  width: 30%;
	}
	.col-two {
	  width: 70%;
	}
	.col-two p, .col-one li {
	  font-size: 100%;
	}
	.col-three {
	  display: none;
	}
  }
  
  /* Clearfix */
  .cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
  }
  
  .cf:after {
	clear: both;
  }